cv2==4.6.0
keras==2.8.0
matplotlib==3.2.2
numpy==1.21.6
pipreqs==0.4.11
session_info==1.0.0
tensorflow==2.8.2
PIL==7.1.2
absl==NA
astor==0.8.1
astunparse==1.6.3
backcall==0.2.0
cached_property==1.5.2
certifi==2022.06.15
cffi==1.15.1
chardet==3.0.4
cloudpickle==1.5.0
cycler==0.10.0
cython_runtime==NA
dateutil==2.8.2
debugpy==1.0.0
decorator==4.4.2
dill==0.3.5.1
etils==0.7.1
flatbuffers==2.0.7
fsspec==2022.8.2
gast==0.5.3
google==NA
google_auth_httplib2==NA
googleapiclient==NA
h5py==3.1.0
httplib2==0.17.4
idna==2.1
importlib_metadata==NA
importlib_resources==NA
ipykernel==5.3.4
ipython_genutils==0.2.0
jax==0.3.17
jaxlib==0.3.15
keras_preprocessing==1.1.2
kiwisolver==1.4.4
mpl_toolkits==NA
numexpr==2.8.3
oauth2client==4.1.3
opt_einsum==v3.3.0
packaging==21.3
pandas==1.3.5
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==NA
portpicker==NA
prompt_toolkit==2.0.10
psutil==5.4.8
ptyprocess==0.7.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1_modules==0.2.8
pydev_ipython==NA
pydevconsole==NA
pydevd==2.0.0
pydevd_concurrency_analyser==NA
pydevd_file_utils==NA
pydevd_plugins==NA
pydevd_tracing==NA
pydot_ng==2.0.0
pygments==2.6.1
pyparsing==3.0.9
pytz==2022.2.1
requests==2.23.0
rsa==4.9
scipy==1.1.0
sitecustomize==NA
six==1.15.0
socks==1.7.1
sphinxcontrib==NA
storemagic==NA
tblib==1.7.0
tensorboard==2.8.0
termcolor==1.1.0
tornado==5.1.1
traitlets==5.1.1
typing_extensions==NA
uritemplate==3.0.1
urllib3==1.24.3
wcwidth==0.2.5
wrapt==1.14.1
zipp==NA
zmq==23.2.1
